.newuser {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    border: 1px;
    padding-bottom: 50px;
    .register-form {
        text-align: center;
        // align-items: center;
        border-style: solid;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(137, 195, 230);
        width: 600px;
        height: 450px;
        .form-control {
            .form-label {
                align-items: left;
                &:after {
                    content: " *";
                    color: red;
                }
            }
            .form-input {
                width: 400px;
            }
            .btn {
                width: 150px;
                height: 40px;
                border: solid;
                border-color: lightgray;
                border-radius: 100px;
                padding: 3px;
            }
        }
    }
}
