.property {    
    position: relataive;
    height: auto;
    border: none;
    width: 90%;
    align-items: center;
    padding-left: 50px;
    justify-content: space-between;
    h2 {
        padding-left: 7px;
        padding-bottom: 20px;
    }
    .row {
        height: auto;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        // display: block;
        display: flex;
        justify-content: space-between;
    }
}
