.resort {
    box-shadow: 0 2px 5px rgba(1, 0, 0, 01);
    height: 250px;
    width: 1000px;
    justify-content: space-between;
    margin-bottom: 20px;
    display: flex;
    .card {
        margin-top: 20px;
        margin-bottom: 100px;
        margin-left: 10px;
        border: 0ch;
        height: 200px;
        justify-content: space-between;
        position: relative;
        .row {
            position: relative;
            display: flex;
            width: 100%;
            box-shadow: 0 2px 5px rgba(1, 0, 0, 01);
            .col-4 {
                position: relative;
                img {
                    height: 200px;
                    position: absolute;
                }
                .card-body {
                    padding-left: 350px;
                    position: relative;
                    p {
                        font-size: 13px;
                    }
                    .rating {
                        display: flex;
                        padding-left: 350px;
                        span {
                            b {
                                padding-left: 3px;
                            }
                        }
                    }
                }
            }
            .col-4 {
                .goto {
                    display: flex;
                    margin-right: 0;
                    position: relative;
                    top: 50%;
                    left: 70%;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    flex-direction: column;
                    .price {
                        text-align: center;
                        margin-bottom: 7px;
                    }
                }
            }
        }
    }
}
