.card {
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 10px;
    border: 0ch;
    height: 200px;
    justify-content: space-between;
    position: relative;
    .row {
        position: relative;
        display: flex;
        width: 100%;
        .col-4 {
            position: relative;
            img {
                height: 200px;
                position: absolute;
            }
            .card-body {
                padding-left: 350px;
                position: relative;
                p {
                    font-size: 13px;
                }
                .rating {
                    display: flex;
                    padding-left: 350px;
                    span {
                        b {
                            padding-left: 3px;
                        }
                    }
                }
            }
            .goto {
                margin: 0;
                position: relative;
                top: 50%;
                right: 0%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                display: flex;
                flex-direction: column;
                .price {
                    text-align: center;
                    margin-bottom: 7px;
                }
            }
        }
    }
}
